[Unit]
Description=IPTV Flask Server
After=network.target

[Service]
User=iptv
Group=iptv
WorkingDirectory=/home/iptv/iptv-server
ExecStart=/home/iptv/iptv-server/venv/bin/python app.py
Restart=always

[Install]
WantedBy=multi-user.target
