<div class="header">
    <div class="links">
        <span style="margin-right:20px; font-weight:bold;">Active Tuner: {{ current_tuner }}</span>
        <a href="{{ url_for('guide') }}">HOME</a>

        {% if current_user is defined and current_user.username == 'admin' %}
        <a href="{{ url_for('manage_users') }}" id="manageUsersMenu">MANAGE USERS</a>
        {% endif %}

        <div class="dropdown" id="settingsMenu">
            <button class="dropbtn">SETTINGS ▾</button>
            <div class="dropdown-content">
                {% if current_user is defined and current_user.username == 'admin' %}
                <a href="{{ url_for('change_tuner') }}">Change Tuner</a>
                <a href="{{ url_for('view_logs') }}">Logs</a>
                <li><a href="{{ url_for('about') }}">About</a></li>
                {% endif %}
                <a href="#" id="toggleAutoScroll">Toggle Auto-Scroll</a>
                <a href="{{ url_for('change_password') }}">Change Password</a>
                <li class="submenu">
                  <a href="#">Themes</a>
                  <ul class="submenu-content">
                    <li><a href="#" onclick="setTheme('light'); return false;">Light</a></li>
                    <li><a href="#" onclick="setTheme('dark'); return false;">Dark</a></li>
                    <li><a href="#" onclick="setTheme('retro-aol'); return false;">AOL / CompuServe</a></li>
                    <li><a href="#" onclick="setTheme('retro-magazine'); return false;">TV Guide (Refresh)</a></li>
                    <li><a href="#" onclick="setTheme('directv'); return false;">DirecTV</a></li>
                    <li><a href="#" onclick="setTheme('comcast'); return false;">Comcast</a></li>
                    <!-- <li><a href="#" onclick="setTheme('tvguide1990'); return false;">TV Guide (Classic)</a></li> -->
                  </ul>
                </li>
            </div>
        </div>
        <a href="{{ url_for('logout') }}">LOGOUT</a>
    </div>
    <div id="clock" class="clock">--:-- --</div>
</div>
