<!doctype html>
<html>
<head>
<title>Now Playing</title>
<script src="{{ url_for('static', filename='hls.js') }}"></script>
</head>
<body>
<h2>Now Playing</h2>
<video id="video" width="800" height="450" controls></video>
<script>
var video = document.getElementById('video');
var streamURL = "{{ stream_url }}";
if(Hls.isSupported()) {
    var hls = new Hls();
    hls.loadSource(streamURL);
    hls.attachMedia(video);
    hls.on(Hls.Events.MANIFEST_PARSED,function() { video.play(); });
} else {
    video.src = streamURL;
    video.play();
}
</script>
</body>
</html>

